# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for scripts and config files
*.sh     text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
Dockerfile text eol=lf
